<div class="container d-flex justify-content-between align-items-center">
    <div class="brand">Gennadiy Ackadivich</div>
    <div class="brand">&#169; 2020</div>
    <div>
        <div><i class="fab fa-github"></i>github.com/Anna-Ivanova-FL/download-manager</div>
        <div><i class="fas fa-at"></i>gennadius.ritchie@gmail.com</div>
    </div>
</div>